$color1: #EB6C96;
$color2: #6347ED;
$color3: #4D85F0;
$color4: #427DEF;
$color5: #FA5C5C;
$color6: #F7A831;
$color7: #E76666;
$color8: #3BC7B0;
$color9: #E24949;
$color: $color1, $color2, $color3, $color4, $color5, $color6, $color7, $color8, $color9;